# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Preparation/v15
/.vs
/01 String.zip
/07 Tree/C#/obj/Debug
/99 Misc/_VisualStudio/CommonProject_CSharp
/99 Misc/_VisualStudio/Preparation/.vs/Preparation/v15
/99 Misc/_VisualStudio/.vs/Preparation/v15
/99 Misc/_VisualStudio/Preparation/obj/Debug
/07 Tree/C#/bin/Debug/Tree.pdb
/99 Misc/_VisualStudio/Preparation/bin/Debug
/07 Tree/C#/obj/Release
/13 Dynamic/.vs/DynamicProgramming/v15
/99 Misc/_VisualStudio/Preparation/obj/Release
/Binaries
